<div class="Header_of_class">
    <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F6E8E8;">
        <ul class="navbar-nav">
            <li class="nav-item">
                <a class="nav-link ms-3 " href="#">
                    <b class="fs-6 text-dark"><%=currentClass.nameDisplay%></b>
                </a>
            </li>
            <li class="nav-item ">
                <a class="nav-link ms-3 text-dark" href="#">Thông báo</a>
            </li>
            <li class="nav-item">
                <%if(page == 'baithi'){%>
                    <a class="nav-link ms-3" href="/client/home/<%=currentClassID%>" style="color: #E000D7"><b>Bài thi</b></a>
                <% } else {%>
                    <a class="nav-link ms-3" href="/client/home/<%=currentClassID%>">Bài thi</a>
                <% } %>
            </li>
            <li class="nav-item">
                <%if(page == 'ketqua'){%>
                    <a class="nav-link ms-3" href="/client/result/<%=currentClassID%>" style="color: #E000D7"><b>Kết quả</b></a>
                <% } else {%>
                    <a class="nav-link ms-3" href="/client/result/<%=currentClassID%>">Kết quả</a>
                <% } %>
            </li>
            <li class="nav-item">
                <%if(page == 'cauhoi'){%>
                    <a class="nav-link ms-3" href="/host/manageQuestion/<%=currentClassID%>" style="color: #E000D7"><b>Câu hỏi</b></a>
                <% } else {%>
                    <a class="nav-link ms-3" href="/host/manageQuestion/<%=currentClassID%>">Câu hỏi</a>
                <% } %>
            </li>
            <li class="nav-item">
                <%if(page == 'thanhvien'){%>
                    <a class="nav-link ms-3" href="/client/member/<%=currentClassID%>" style="color: #E000D7"><b>Thành viên</b></a>
                <% } else {%>
                    <a class="nav-link ms-3" href="/client/member/<%=currentClassID%>">Thành viên</a>
                <% } %>
            </li>
            <% if(currentClass.ownerID.equals(user._id)){ %>
                <li class="nav-item">
                    <%if(page == 'caidat'){%>
                        <a class="nav-link ms-3" href="/host/manageClass/<%=currentClassID%>" style="color: #E000D7"><b>Cài đặt</b></a>
                    <% } else {%>
                        <a class="nav-link ms-3" href="/host/manageClass/<%=currentClassID%>">Cài đặt</a>
                    <% } %>
                </li>
            <% } %>
        </ul>
        <%if(currentClass != "None" && !currentClass.ownerID.equals(user._id)){%>
            <form action="/client/leaveClass/<%=currentClassID%>" method="post" class="ms-auto">
                <button class="btn btn-danger">Rời lớp</button>
            </form>
        <% } %>                   
    </nav>
</div>
