<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Trang Chủ</title>
  <link rel="stylesheet" href="/css/Client_User/Information.css" />
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
</head>

<body>
  <!-- Header -->
  <%- include('../utils/header.ejs'); %>
  <!-- End Header -->
  
  <!-- Modal -->
  <div id="addClass" class="modal fade">
    <div class="modal-dialog">
        <div class="modal-content">
            <form action="/client/createClass" method="post" onsubmit="AddClass(event)">
                <div class="modal-header">
                    <h5 class="modal-title">Thêm lớp học mới</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div data-mdb-input-init class="form-floating mb-4">
                        <input name="nameDisplay" type="text" id="form3Example3" class="form-control form-control-lg"
                            placeholder="Nhập vào tên lớp học" />
                        <label class="form-label" for="form3Example3">Tên lớp học</label>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                    <button type="submit" class="btn btn-primary" onclick="AddClass(event)">Hoàn tất</button>
                </div>
            </form>
        </div>
    </div>
  </div>
  <!-- End modal -->

  <!-- Main-Content Slidebar -->
  <div class="Main-Content d-flex" style="background-color: #F5F5F5; margin-top: 56px;">
    <div class="Sldebar_left d-flex flex-column flex-shrink-0 p-3 bg-light position-fixed" style="width: 280px; height: 100vh;">
      <div class="d-flex justify-content-between align-items-center">
        <p href="#" class=" mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <svg class="bi" width="0" height="30">
            <use xlink:href="#bootstrap" />
          </svg>
          <span class="fs-4">Lớp học</span>
        </p>
        <button type="button" data-bs-toggle="modal" data-bs-target="#addClass">
          <svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="currentColor" class="bi bi-plus-circle"
            viewBox="0 0 16 16">
            <path d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14m0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16" />
            <path
              d="M8 4a.5.5 0 0 1 .5.5v3h3a.5.5 0 0 1 0 1h-3v3a.5.5 0 0 1-1 0v-3h-3a.5.5 0 0 1 0-1h3v-3A.5.5 0 0 1 8 4" />
          </svg>
        </button>
      </div>
      <hr>
      <p><small>Lớp của tôi</small></p>
      <div class="overflow-auto">
        <ul class="nav nav-pills flex-column mb-auto ">
          <% for(var i=0; i < listClass.length; i++) { %>
            <li>
              <a href="/client/home/<%=listClass[i]._id%>" class="nav-link" aria-current="page">
                <svg class="bi" width="16" height="16">
                  <use xlink:href="#home" />
                </svg>
                <%= listClass[i].nameDisplay%>
              </a>
            </li>
            <% } %>
        </ul>
      </div>
    </div>
    <!-- End slidebar -->

    <!-- Content -->
    <div class="Content w-75" style="background-color: #fff;">
      <!-- Section thông tin người dùng -->
      <div class="background-avatar ">
        <div id="space" style="height: 124px;"></div>
        <div class="avatar-Information">
          <img src="<%=user.avatar %>" class="rounded-circle mb-3 avatar-img" alt="User Avatar">
        </div>
      </div>
      <div class="profile-section">

        <div class="Name d-flex flex-column">
          <h4><%=user.nameDisplay%></h4>
          <p>ID người dùng: <%=user._id%></p>
        </div>

      </div>

      <!-- Form thay đổi mật khẩu -->
      <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
          <a class="nav-link " href="/client/information">Hồ sơ</a>
        </li>
        <li class="nav-item">
          <a class="nav-link active" href="/client/changePW">Mật khẩu</a>
        </li>
      </ul>
      <form name="form1"  method="post" action="/client/changePW"  class="p-3" onsubmit="checkPassword(event)">
        <div class="form-group">
            <label for="current-password">Mật khẩu hiện tại</label>
            <input name="current_password" type="password" class="form-control form-control-sm" id="current-password">

            <label for="new-password" class="mt-3">Mật khẩu mới</label>
            <input name="new_password" type="password" class="form-control form-control-sm" id="new-password">

            <label for="confirm-password" class="mt-3">Xác nhận mật khẩu mới</label>
            <input name="enter_newpassword" type="password" class="form-control form-control-sm" id="confirm-password">

          <button type="submit" class="btn btn-secondary mt-3" onclick="checkPassword(event)">Lưu</button>
        </div>
      </form>
    </div>
  </div>
  <!-- Toast thông báo -->
<div class="toast-container position-fixed bottom-0 end-0 p-3">
  <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true" data-bs-delay="3000">
      <div class="toast-header">
          <strong class="me-auto">Thông báo</strong>
          <small class="text-muted">Vừa xong</small>
          <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
      </div>
      <div class="toast-body">
          Đây là thông báo từ hệ thống.
      </div>
  </div>
</div>

  <!-- End content, End Main-Content -->

   <!-- Handle enter password-->
  <script>
    function showToast(message) {
    // Cập nhật nội dung thông báo
    document.querySelector('#liveToast .toast-body').textContent = message;

    // Hiển thị toast
    var toastEl = document.getElementById('liveToast');
    var toast = new bootstrap.Toast(toastEl);
    toast.show();
}
    function checkPassword(event){
      event.preventDefault();  
        var password_by_user = document.form1.current_password.value;
        var new_password = document.form1.new_password.value;
        var enter_newpassword = document.form1.enter_newpassword.value;

        if(password_by_user && new_password && enter_newpassword){
          if(password_by_user == <%=user.password%>){
            if(new_password == enter_newpassword ){
              showToast("Đổi mật khẩu thành công");
              event.target.form.submit();
            }else{
              showToast("Mật khẩu mới và xác nhận mật khẩu mới không giống nhau")
            }
        } else {
          showToast("Mật khẩu hiện tại không đúng");
          return;
        }
        }else{
          showToast("Vui lòng nhập đầy đủ thông tin các trường còn trống!")
        }
        
    }
  </script>

  <!-- Import JS -->
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
  <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script> -->
</body>

</html>