<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Pro - Bài thi</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Client_User/Home.css">
</head>

<body>
    <!-- Header Navbar -->
    <%- include('../utils/header.ejs'); %>

    <!-- Modal -->
    <%- include('../utils/modal.ejs'); %>
    <!-- End modal -->

    <!-- Container -->
    <div class="Main-Content" style="margin-top: 56px;">
        <!-- Sidebar left -->
        <%- include('../utils/sidebar.ejs'); %>
        <!-- End slidebar left -->

        <!-- Sidebar right -->
        <div class="SidebarRight <%=(currnetClassID=='-1')?'d-none':''%>">
            <!-- Header of class -->
            <div class="Header_of_class">
                <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F6E8E8;">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a class="nav-link ms-3 " href="#">
                                <b class="fs-6 text-dark">LỚP A</b>
                            </a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link ms-3 text-dark" href="#">Thông báo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" href="/client/home/<%=currnetClassID%>" style="color: #E000D7"><b>Bài thi</b></a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" href="/client/result/<%=currnetClassID%>">Kết quả</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" href="/host/manageQuestion/<%=currnetClassID%>">Câu hỏi</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" href="/client/member/<%=currnetClassID%>">Thành viên</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link ms-3" href="/host/manageClass/<%=currnetClassID%>">Cài đặt</a>
                        </li>
                    </ul>
                    <button class="btn btn-danger ms-auto">Rời lớp</button>
                </nav>
            </div>
            <!-- End header of class -->

            <!-- Content -->
            <div class="Content overflow-auto" style="background-color: #fff;">
                <form action="/host/createQuiz/<%=currnetClassID%>" method="get">
                    <button type="submit" style="width: 176px; height: 33px; background-color: #0acaf5; margin-left: 25px; margin-top: 15px;border-radius: 20px;">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-file-earmark-plus" viewBox="0 0 16 16">
                            <path d="M8 6.5a.5.5 0 0 1 .5.5v1.5H10a.5.5 0 0 1 0 1H8.5V11a.5.5 0 0 1-1 0V9.5H6a.5.5 0 0 1 0-1h1.5V7a.5.5 0 0 1 .5-.5"/>
                            <path d="M14 4.5V14a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2a2 2 0 0 1 2-2h5.5zm-3 0A1.5 1.5 0 0 1 9.5 3V1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V4.5z"/>
                        </svg>
                        Tạo bài thi
                    </button>
                </form>
                <!-- Exam Results -->
                <div class="p-4">
                    <%for(var i=0; i < listExam.length; i++) { %>
                        <div class="exam-item mb-1">
                            <div class="row mb-3">
                                <div class="col-md-8">
                                    <h5>
                                        <%= listExam[i].nameDisplay %>
                                    </h5>
                                    <p>Số câu: <%= listExam[i].questions.length %> câu | Trạng thái: <span
                                                class="text-success">Đang mở</span></p>
                                </div>
                                <div class="col-md-4 text-end">
                                    <button class="btn btn-primary mt-3">Vào thi</button>
                                </div>
                            </div>
                        </div>
                    <% } %>
                </div>
            </div>

        </div>
    </div>
    <!-- End sidebar right -->


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>