<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Pro - Thành viên</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Client_User/Member.css">
</head>

<body>
    <!-- Header -->
    <%- include('../utils/header.ejs'); %>

    <!-- Modal -->
    <%- include('../utils/modal.ejs'); %>

    <!-- Main Container -->
    <div class="Main-Content" style="margin-top: 56px;">
        <!-- Sidebar left -->
        <%- include('../utils/sidebar.ejs'); %>
        <!-- End slidebar left -->

        <!-- Header of class -->
        <div class="Header_of_class">
            <nav class="navbar navbar-expand-lg navbar-light " style="background-color: #F6E8E8;">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link ms-3 " href="#">
                            <b class="fs-6 text-dark">LỚP A</b>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link ms-3 text-dark" href="#">Thông báo</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="/client/home/<%=currnetClassID%>">Bài thi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="/client/result/<%=currnetClassID%>">Kết quả</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="/host/manageQuestion/<%=currnetClassID%>">Câu hỏi</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="/client/member/<%=currnetClassID%>" style="color: #E000D7"><b>Thành viên</b></a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link ms-3" href="/host/manageClass/<%=currnetClassID%>">Cài đặt</a>
                    </li>
                </ul>
                <button class="btn btn-danger ms-auto">Rời lớp</button>
            </nav>
        </div>
        <!-- End header of class -->

        <!-- Content -->
        <div class="Content overflow-auto" style="background-color: #fff;">
            <!-- Member List -->
            <div class="p-4">
                <div class="Add_Search d-flex" style="height: 46px;">
                    <button class="btn btn-primary mb-2 w-25">+ Thêm thành viên</button>
                    <div class="space" style="width: 100px;"></div>
                    <!-- Search button -->
                    <div class="input-group mb-2">
                        <input type="text" class="form-control " placeholder="Tìm thành viên" >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <h6>Tổng số thành viên: <%=listMember.length%> người</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-7">Tên</th>
                            <th class="col-md-2">Vai trò</th>
                            <th class="col-md-2">Trạng thái</th>
                            <th class="col">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i=0; i<listMember.length; i++){%>
                            <tr>
                                <td><img src="/images/avatar.png" class="rounded-circle" alt="User Avatar"
                                        style="width: 30px;">
                                    <%=listMember[i].nameDisplay%></td>
                                <%if(i==0){%>
                                    <td>Chủ sở hữu</td>
                                <%} else{%>
                                    <td>Thành viên</td>
                                <%}%>
                                <td class="text-success">Trực tuyến</td>
                                <td><button class="btn btn-warning btn-sm">Hành động</button></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>