<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Pro - Thành viên</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Client_User/Member.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
</head>
<script>    
function showToast(message) {
    // Cập nhật nội dung thông báo
    document.querySelector('#liveToast .toast-body').textContent = message;

    // Tùy chọn thời gian hiển thị toast (ví dụ: 10 giây)
    var toastEl = document.getElementById('liveToast');
    var toast = new bootstrap.Toast(toastEl, { delay: 10000 }); // 10000ms = 10 giây

    // Hiển thị toast
    toast.show();
}

function searchMember(ClassID) {
    const keyword = document.getElementById('searchQuestion').value;
    if (!keyword) {
        showToast('Vui lòng nhập từ khóa để tìm kiếm!');
        return;
    }
    // Tạo URL mới với từ khóa
    const url = `http://localhost:3000/client/member/${ClassID}?keyword=${encodeURIComponent(keyword)}`;

    // // Chuyển hướng đến URL mới
    window.location.href = url;
}
function deleteMember(ClassID, OwerOrNotOwer, UserID, OwnerID) {
    const isOwner = OwerOrNotOwer.toLowerCase() === 'true'; // Ép kiểu sang boolean
    if (!isOwner) {
        showToast('Bạn không phải là chủ phòng');
    } else if (isOwner && UserID === OwnerID) {
        showToast('Không thể xóa chủ phòng');
    } else {
        showToast('Xóa thành viên thành công');
        const url = `http://localhost:3000/client/deleteMember/${ClassID}?userID=${encodeURIComponent(UserID)}&ClassID=${encodeURIComponent(ClassID)}`;
        // Chuyển hướng đến URL mới
        window.location.href = url;
    }
}

</script>
<body>
    <!-- Header -->
    <%- include('../utils/header.ejs'); %>

    <!-- Modal -->
    <%- include('../utils/modal.ejs'); %>

    <!-- Main Container -->
    <div class="Main-Content" style="margin-top: 56px;">
        <!-- Sidebar left -->
        <%- include('../utils/sidebar.ejs'); %>
        <!-- End slidebar left -->

        <!-- Header of class -->
        <%- include('../utils/headerOfClass.ejs'); %>
        <!-- End header of class -->

        <!-- Content -->
        <div class="Content overflow-auto" style="background-color: #fff;">
            <!-- Member List -->
            <div class="p-4">
                <div class="Add_Search d-flex" style="height: 46px;">

                    <% if (OwerOrNotOwer) { %>
                        <button type="button"class="btn btn-primary mb-2 w-50 me-3" data-bs-toggle="modal" data-bs-target="#addMember">
                            + Thêm thành viên
                        </button>
                        <div class="space" style="width: 100px;"></div>
                    <% } %>                   
                    <!-- Search button -->
                    <div class="input-group mb-2">
                        <input type="text" class="form-control " placeholder="Tìm thành viên" id="searchQuestion">
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary" type="button" onclick="searchMember('<%= currentClassID %>')" >
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </button>
                        </div>
                    </div>
                </div>

                <h6>Tổng số thành viên: <%=listMember.length%> người</h6>
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th class="col-md-7">Tên</th>
                            <th class="col-md-2">Vai trò</th>
                            <th class="col-md-2">Trạng thái</th>
                            <th class="col">Chỉnh sửa</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var i=0; i<listMember.length; i++){%>
                            <tr>
                                <td><img src="<%=listMember[i].avatar%>" class="rounded-circle" alt="User Avatar"
                                        style="width: 30px; height: 30px;">
                                    <%=listMember[i].nameDisplay%></td>
                                <%if(i==0){%>
                                    <td>Chủ sở hữu</td>
                                <%} else{%>
                                    <td>Thành viên</td>
                                <%}%>
                                <td class="text-success">Trực tuyến</td>
                                <td><button class="btn btn-warning btn-sm" onclick="deleteMember('<%= currentClassID %>','<%= OwerOrNotOwer %>','<%=listMember[i]._id%>','<%=listMember[0]._id%>')">Xóa</button></td>
                            </tr>
                        <%}%>
                    </tbody>
                </table>
            </div>
        </div>

    </div>
    <!-- Toast -->
    <div class="toast-container position-fixed bottom-0 end-0 p-3">
        <div id="liveToast" class="toast" role="alert" aria-live="assertive" aria-atomic="true">
            <div class="toast-header">
                <strong class="me-auto">Thông báo</strong>
                <button type="button" class="btn-close" data-bs-dismiss="toast" aria-label="Close"></button>
            </div>
            <div class="toast-body">
                Đây là nội dung thông báo.
            </div>
        </div>
    </div>
    
    <!-- Bootstrap JS -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
</body>

</html>