<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>QuizStart - <%=currentExam.nameDisplay%>
    </title>
    <!-- Bootstrap CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Client_User/quizStart.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
</head>

<body onload="startCountdown()">

    <!-- Header -->
    <nav class="navbar fixed-top navbar-expand-lg bg-primary-subtle">
        <div class="container-fluid d-flex justify-content-between">
            <a class="navbar-brand" href="#">QUIZ.PRO</a>
            <div class="text-center">
            </div>
        </div>
    </nav>

    <div id="countdown-container">
        <div id="countdown">
            3
        </div>
    </div>

    <!-- Main Quiz Content -->
    <div id="quiz" class="quiz-container" style="display: none;">
        <div class="question-header">
            <h2>Câu hỏi <span id="questionNumber">1</span></h2>
            <span>Thời gian: <span id="timer">15</span> giây</span>
            <span id="score-display" style="font-size: 1.2em; color: #007bff;">Điểm số: 0</span>
        </div>
        <div class="question-body">
            <p id="question-title"></p>
            <p id="wrong-message" style="color: red; display: none;">Bạn đã trả lời sai!</p>
            <p id="partial-correct-message" style="color: orange; display: none;">Bạn đã trả lời đúng một phần!</p>
            <p id="correct-message" style="color: green; display: none;">Bạn đã trả lời đúng!</p>
        </div>
        <div class="answer-grid">
            <div class="answer-option" id="answer-option-1">A. <span id="answer1"></span></div>
            <div class="answer-option" id="answer-option-2">B. <span id="answer2"></span></div>
            <div class="answer-option" id="answer-option-3" style=" display: none;">C. <span id="answer3"></span></div>
            <div class="answer-option" id="answer-option-4" style="display: none;">D. <span id="answer4"></span></div>
        </div>
        <button class="btn btn-primary mt-3" id="submitQuestion" style="display: none;">Nộp kết quả</button>
    </div>

    <form id="postForm" method="POST" action="/client/createResultExam/<%=classID%>" style="display: none;">
        <input type="hidden" name="examID" value="<%=currentExam._id%>">
        <input type="hidden" name="numberCorrect">
        <input type="hidden" name="score">
    </form>

    <!-- Bootstrap JS (optional for additional functionality) -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script>
        const socket = io();
        const userId = '<%= user._id %>'
        const userName = '<%= user.nameDisplay %>';
        const avatar = '<%= user.avatar%>'
        const room = '<%= currentExam._id %>'
        const classId = '<%= classID %>'
        // Diff = Difficulty
        let diff;
        let timer; // Biến để lưu timer
        let timeRemaining = 60; // Thời gian bắt đầu
        let isTransitioning = false; // Là công tắc an toàn, ngăn chặn sự kiện "Kép" nếu nhấn nộp kết quả quá nhiều lần.
        let selectedOptions = []; // Danh sách các đáp án đã chọn
        let submitOptions = []; // Danh sách các đáp án sẽ nộp
        let options;
        let oneSelect = true;
        let multipleCorrectAnswers = false; // Biến kiểm tra có nhiều đáp án đúng không
        let correctAnswersCount = 0;
        let correct = false;
        let quizContainer = document.querySelector('.quiz-container');
        let submitButton = document.getElementById('submitQuestion');
        let score = 0;
        let numberCorrect = 0;
        const scoreDisplay = document.getElementById('score-display'); // Phần tử hiển thị điểm
        const questionNum = document.getElementById('questionNumber');
        let countdownNumber = 3;
        const countdownElement = document.getElementById("countdown");
        const quizElement = document.getElementById("quiz");

        function startCountdown() {
            countdownElement.innerText = countdownNumber;

            const interval = setInterval(() => {
                countdownNumber--;

                if (countdownNumber === 0) {
                    clearInterval(interval);
                    countdownElement.innerText = "Let's start the quiz!"; // Hiển thị thông điệp
                    countdownElement.style.animation = 'none'; // Tắt hiệu ứng pop cho thông điệp

                    // Đợi 2 giây trước khi chuyển sang nội dung bài thi
                    setTimeout(() => {
                        countdownElement.style.display = "none"; // Ẩn phần đếm ngược
                        quizElement.style.display = "block"; // Hiển thị phần thi
                        getStart();
                    }, 2000); // Thời gian chờ 2 giây
                } else {
                    countdownElement.innerText = countdownNumber;
                    countdownElement.style.opacity = '0'; // Mờ dần số trước khi chuyển
                    countdownElement.style.transform = 'scale(0.8)'; // Giảm kích thước trước khi chuyển

                    setTimeout(() => {
                        countdownElement.style.opacity = '1'; // Hiện lại số mới
                        countdownElement.style.transform = 'scale(1.3)'; // Phóng to số mới một chút
                    }, 100); // Độ trễ để hiệu ứng mượt hơn
                }
            }, 1000); // Đếm ngược mỗi giây
        }

        function updateScore(diff) {
            if (diff == 'Easy')
                score += 10;
            else if (diff == 'Medium')
                score += 20;
            else if (diff == 'Hard')
                score += 30;

            scoreDisplay.innerText = `Score: ${score}`;

            // Hiệu ứng động khi điểm thay đổi
            scoreDisplay.classList.add('score-update');
            setTimeout(() => scoreDisplay.classList.remove('score-update'), 500);
        }

        socket.on('updateScore', ({thisScore }) => {
            score = thisScore;
            scoreDisplay.innerText = `Score: ${score}`;
        })

        socket.on('updateTimer', ({ timeLeft }) => {
            document.getElementById('timer').innerText = timeLeft;
        });

        socket.on('currentQuestion', ({ questionNumber, question_text, difficulty, result }) => {
            // Hiển thị câu hỏi dựa trên questionNumber
            const question_title = document.getElementById('question-title');
            const timerDisplay = document.getElementById('timer');

            correct = false;
            multipleCorrectAnswers = false; // Biến kiểm tra có nhiều đáp án đúng không

            submitButton.style.display = 'none';
            submitButton.disabled = false;
            //Xử lý nhấn nút vào "Nộp kết quả"
            submitButton.addEventListener('click', handleSubmitClick);
            oneSelect = true;
            selectedOptions = []; // Danh sách các đáp án đã chọn
            submitOptions = [];
            correctAnswersCount = 0;
            questionNum.innerText = questionNumber + 1;
            question_title.innerText = question_text;

            diff = difficulty;
            
            result.forEach((item, index) => {
                document.getElementById(`answer${index + 1}`).innerText = item.text;
                if (item.isCorrect == true)
                    document.getElementById(`answer-option-${index + 1}`).setAttribute('data-correct', 'true');
                else
                    document.getElementById(`answer-option-${index + 1}`).setAttribute('data-correct', 'false');
            });

            if (result.length == 3) {
                document.getElementById(`answer-option-3`).style.display = "block";
                document.getElementById(`answer-option-4`).style.display = "none";
            }
            else if (result.length == 4) {
                document.getElementById(`answer-option-3`).style.display = "block";
                document.getElementById(`answer-option-4`).style.display = "block";
            }
            else {
                document.getElementById(`answer-option-3`).style.display = "none";
                document.getElementById(`answer-option-4`).style.display = "none";
            }

            options = document.querySelectorAll('.answer-option');
            options.forEach(option => {
                if (option.getAttribute('data-correct') === 'true') {
                    correctAnswersCount++;
                }
            });

            // Xóa các sự kiện click cũ trước khi gán sự kiện mới
            options.forEach(option => {
                option.classList.remove('selected', 'correct', 'wrong'); // Xóa các class màu sắc trước đó
                option.style.pointerEvents = 'auto'; // Cho phép chọn lại
                option.removeEventListener('click', handleClick);
                option.addEventListener('click', handleClick);
            });

            // Xác định xem có nhiều đáp án đúng hay không
            if (correctAnswersCount > 1) {
                multipleCorrectAnswers = true;
                oneSelect = false;
                submitButton.style.display = 'block'; // Hiện nút "Nộp kết quả" nếu có từ 2 đáp án đúng
            }

            clearInterval(timer); // Dừng timer nếu có chạy trước đó
        });

        function arraysEqual(a, b) {
            if (a.length !== b.length) return false;
            const sortedA = a.slice().sort();
            const sortedB = b.slice().sort();
            for (let i = 0; i < sortedA.length; i++) {
                if (sortedA[i] !== sortedB[i]) return false;
            }
            return true;
        }

        function checkAnswers() {
            const correctOptions = Array.from(options).filter(option => option.getAttribute('data-correct') === 'true');

            // Lấy danh sách các đáp án được chọn
            const selected = submitOptions.map(option => option.id);

            // Lấy danh sách các đáp án đúng
            const correct = correctOptions.map(option => option.id);

            // So sánh hai mảng
            const isCorrect = arraysEqual(selected, correct);
            const isPartialCorrect = selected.some(id => correct.includes(id)) && !isCorrect;

            return { isCorrect, isPartialCorrect };
        }

        socket.on("submitAnswer", () => {

            const { isCorrect, isPartialCorrect } = checkAnswers();
            if (isCorrect) {
                document.getElementById('correct-message').style.display = 'block';
                updateScore(diff);
                numberCorrect++;
            } else if (isPartialCorrect) {
                document.getElementById('partial-correct-message').style.display = 'block';
            }
            else
                document.getElementById('wrong-message').style.display = 'block';

            socket.emit('leaderboard:update', ({ room, userId, numberComplete: Number(questionNum.textContent), numberCorrect, score }))
            submitOptions.forEach(option => {
                const isCorrect = option.getAttribute('data-correct') === 'true';
                option.classList.add(isCorrect ? 'correct' : 'wrong');
            });

            // Đánh dấu các đáp án đúng chưa được chọn
            options.forEach(option => {
                option.style.pointerEvents = 'none';
                if (option.getAttribute('data-correct') === 'true' && !submitOptions.includes(option)) {
                    option.classList.add('correct');
                }
            });
            setTimeout(() => {
                submitButton.removeEventListener('click', handleSubmitClick);
                document.getElementById('correct-message').style.display = 'none';
                document.getElementById('partial-correct-message').style.display = 'none';
                document.getElementById('wrong-message').style.display = 'none';
                
                socket.emit('quiz:handleAnswer', ({ room, userId, difficultyQuestion: diff, correct: isCorrect }))
            }, 1000)
        })

        // Đã làm xong câu hỏi, chuyển trang đến kết quả bài thi
        socket.on('finishQuiz', ({ numberCorrect, score }) => {
            const form = document.getElementById("postForm");
            document.querySelector('input[name="numberCorrect"]').value = numberCorrect;
            document.querySelector('input[name="score"]').value = score;
            form.submit();
        })

        function handleClick(event) {

            const option = event.currentTarget;
            if (!multipleCorrectAnswers && oneSelect) {
                submitOptions.push(option);
                option.classList.add('selected');
                const isCorrect = option.getAttribute('data-correct') === 'true';
                option.style.pointerEvents = 'none';
                oneSelect = false;
            } else if (multipleCorrectAnswers) {
                // Nếu có nhiều đáp án đúng, cho phép chọn và hiện màu vàng
                const isSelected = selectedOptions.includes(option);

                if (!isSelected) {
                    option.classList.add('selected'); // Đánh dấu đáp án đã chọn với màu vàng
                    selectedOptions.push(option);
                } else {
                    option.classList.remove('selected'); // Bỏ chọn nếu click lại
                    selectedOptions = selectedOptions.filter(item => item !== option);
                }

                // Bật/tắt nút "Nộp kết quả" nếu có ít nhất một đáp án được chọn
                submitButton.disabled = selectedOptions.length === 0;
            }
        }

        socket.on("redirect:leaderboard", () => {
            window.location.href = `/host/leaderboardHistory/${classId}/${room}`;
        })

        function handleSubmitClick() {
            if (selectedOptions.length === 0) {
                alert("Vui lòng chọn ít nhất một đáp án trước khi nộp!");
                return; // Dừng hàm nếu chưa có đáp án nào được chọn
            }
            submitButton.disabled = true;

            submitOptions = [...selectedOptions]; // Copy selectedOption -> submitOptions
            options.forEach(option => {
                option.style.pointerEvents = 'none';
            })
        }

        function getStart() {
            socket.emit('quiz:start', ({ room, userId, userName }));
            socket.emit('leaderboard:start', ({ room, userId, userName, avatar, numberCorrect: 0, score: 0 }))
        }

    </script>
</body>

</html>