<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Pro - Kết quả</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Client_User/Result.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Chakra+Petch&display=swap" rel="stylesheet">
</head>
<script>
function Ketqua(id, Name, Length, score, classID) {
  const form = document.createElement("form");
  form.method = "POST";
  form.action = `/client/resultexam/${id}`;

  // Thêm các trường dữ liệu vào biểu mẫu
  const inputs = { name: Name, length: Length, score: score, classID: classID };
  for (const key in inputs) {
    const input = document.createElement("input");
    input.type = "hidden";
    input.name = key;
    input.value = inputs[key];
    form.appendChild(input);
  }

  document.body.appendChild(form); // Thêm biểu mẫu vào tài liệu
  form.submit(); // Gửi biểu mẫu
}
</script>
<body>
    <!-- Header -->
    <%- include('../utils/header.ejs'); %>

    <!-- Modal -->
    <%- include('../utils/modal.ejs'); %>
    <!-- End modal -->

    <!-- Container -->
    <div class="Main-Content" style="margin-top: 56px;">
        <!-- Sidebar left -->
        <%- include('../utils/sidebar.ejs'); %>
        <!-- End slidebar left -->

        <!-- Header of class -->
        <%- include('../utils/headerOfClass.ejs'); %>
        <!-- End header of class -->

        <!-- Content -->
        <div class="Content overflow-auto" style="background-color: #fff;">
            <!-- Exam Results -->
            <div class="p-4">
                <%for(var i=0; i < resultOfUser.length; i++) { %>
                    <div class="exam-item mb-3">
                        <div class="row mb-3">
                            <div class="col-md-8">
                                <h5><%=resultOfUser[i].examID.nameDisplay%></h5>
                                <p>Số câu: <%=resultOfUser[i].examID.questions.length%> câu</p>
                            </div>
                            <div class="col-md-4 text-end">
                                <button class="btn btn-secondary mt-3" onclick="Ketqua('<%=resultOfUser[i]._id%>','<%=resultOfUser[i].examID.nameDisplay%>','<%=resultOfUser[i].examID.questions.length%>','<%= resultOfUser[i].grade%>','<%=currentClassID%>')">Kết quả: <%= resultOfUser[i].grade%></button>
                            </div>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>

    </div>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script type="module">
        const socket = io();
        const userId = '<%=user._id%>'
        const username = '<%=user.nameDisplay%>'
        socket.emit('userOnline', ({userId, username}))

        window.addEventListener("beforeunload", () => {
            socket.disconnect();
        });
    </script>
</body>

</html>