<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Quiz Pro - Thành viên</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="/css/Host_User/manageQuestion.css">
</head>
<script>
    function searchQuestions(ClassID) {
    // Lấy giá trị từ input
    const keyword = document.getElementById('searchKeyword').value;

    if (!keyword) {
        alert('Vui lòng nhập từ khóa để tìm kiếm!');
        return;
    }
    // Tạo URL mới với từ khóa
    const url = `http://localhost:3000/host/manageQuestion/${ClassID}?keyword=${encodeURIComponent(keyword)}`;

    // // Chuyển hướng đến URL mới
    window.location.href = url;
}
function DeleteQuestion(questionID,classID)
{
    const userConfirmed = confirm("Bạn có chắc chắn xóa câu hỏi không?");

        if (userConfirmed) {
            const url = `http://localhost:3000/host/deleteQuestion?questionID=${encodeURIComponent(questionID)}&classID=${encodeURIComponent(classID)}`;
            window.location.href = url;
        } else {
        }
}
function UpdateQuestion(questionID,classID)
{
    
}
    </script>
<body>
    <!-- Header -->
    <% var index=0;%>
    <%- include('../utils/header.ejs'); %>

    <!-- Modal -->
    <%- include('../utils/modal.ejs'); %>
    
    <!-- End modal -->

    <!-- Container -->
    <div class="Main-Content" style="margin-top: 56px;">
        <!-- Sidebar left -->
        <%- include('../utils/sidebar.ejs'); %>
        <!-- End slidebar left -->

        <!-- Sidebar right -->
        <div class="SidebarRight <%=(currentClassID=='-1')?'d-none':''%>">
            <!-- Header of class -->
            <%- include('../utils/headerOfClass.ejs'); %>
            <!-- End header of class -->

        <!-- Content -->
        <div class="Content overflow-auto" style="background-color: #fff;">
            <!-- Member List -->
            <div class="p-4">
                <div class="p-2">
                    <h4> Tất cả câu hỏi</h4>
                </div>
                <div class="Add_Search d-flex" style="height: 46px;">
                    <div class="input-group mb-2">
                        <input type="text" id="searchKeyword" class="form-control " placeholder="Tìm câu hỏi..." >
                        <div class="input-group-append">
                            <button class="btn btn-outline-secondary rounded" type="button" onclick="searchQuestions('<%= currentClassID %>')">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                                    class="bi bi-search" viewBox="0 0 16 16">
                                    <path
                                        d="M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001q.044.06.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1 1 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0" />
                                </svg>
                            </button>
                        </div>
                    </div>
                    <div class="space" style="width: 100px;"></div>
                    <button type="button" data-bs-toggle="modal" data-bs-target="#addQuestion"
                        class="btn btn-primary mb-2 w-25 rounded-pill">+ Thêm câu hỏi</button>
                    <!-- Search button -->
                     
                </div> 

                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th class="col-md-1">ID</th>
                            <th class="col-md-7">Nội dung câu hỏi</th>
                            <th class="col-md-2">Độ khó</th>
                            <th class="col-md-3">Hành động</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%for(var Qs of questions) { %>
                            <tr>
                                <td><%=++index%></td>
                                <td><%= Qs.question %></td>
                                <%if(Qs.difficulty == 'Easy'){%>
                                    <td style="color: #21B573;">Dễ</td>
                                <%} else if(Qs.difficulty == 'Medium'){%>
                                    <td style="color: #FAAF3A;">Trung bình</td>
                                <%} else if(Qs.difficulty == 'Hard'){%>
                                    <td style="color: #FF0000;">Khó</td>
                                <%}%>
                                <td>
                                    <button class="btn btn-sm" data-bs-toggle="modal" data-bs-target="#editQuestion<%=Qs._id%>">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-gear-fill" viewBox="0 0 16 16">
                                            <path d="M9.405 1.05c-.413-1.4-2.397-1.4-2.81 0l-.1.34a1.464 1.464 0 0 1-2.105.872l-.31-.17c-1.283-.698-2.686.705-1.987 1.987l.169.311c.446.82.023 1.841-.872 2.105l-.34.1c-1.4.413-1.4 2.397 0 2.81l.34.1a1.464 1.464 0 0 1 .872 2.105l-.17.31c-.698 1.283.705 2.686 1.987 1.987l.311-.169a1.464 1.464 0 0 1 2.105.872l.1.34c.413 1.4 2.397 1.4 2.81 0l.1-.34a1.464 1.464 0 0 1 2.105-.872l.31.17c1.283.698 2.686-.705 1.987-1.987l-.169-.311a1.464 1.464 0 0 1 .872-2.105l.34-.1c1.4-.413 1.4-2.397 0-2.81l-.34-.1a1.464 1.464 0 0 1-.872-2.105l.17-.31c.698-1.283-.705-2.686-1.987-1.987l-.311.169a1.464 1.464 0 0 1-2.105-.872zM8 10.93a2.929 2.929 0 1 1 0-5.86 2.929 2.929 0 0 1 0 5.858z"/>
                                        </svg>
                                        <i class="bi bi-gear-fill"></i>
                                        </button>
                                        <button class="btn btn-sm" onclick="DeleteQuestion('<%= Qs.id%>','<%= currentClassID %>')">
                                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                            <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5m3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0z"/>
                                            <path d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4zM2.5 3h11V2h-11z"/>
                                        </svg>
                                        <i class="bi bi-trash"></i>
                                        </button>
                                </td>
                            </tr>
                            <!-- Modal edit question -->
                            <div id="editQuestion<%=Qs._id%>" class="modal fade">
                                <div class="modal-dialog modal-dialog-centered modal-lg">
                                    <div class="modal-content">
                                        <form action="/host/UpdateQuestion/<%=currentClassID%>" method="get">
                                            <div class="modal-header">
                                                <h5 class="modal-title">Chỉnh sửa câu hỏi</h5>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">
                                                <!-- Đưa question ID vô đây -->
                                                <input name="questionID" value="<%=Qs._id%>" hidden>
                                                <div data-mdb-input-init class="form-floating mb-4">
                                                    <input name="questionTitle" type="text" id="form3Example3" class="form-control form-control-lg"  value="<%=Qs.question%>" />
                                                    <label class="form-label" for="form3Example3">Tiêu đề câu hỏi</label>
                                                    <div class="diffculty mt-3 d-flex">
                                                        <p class="col-3">Độ khó: </p>
                                                        <div class="col-3">
                                                            <input type="radio" id="easy" name="diffculty" value="Easy"<%=(Qs.difficulty=='Easy')?'checked':''%>>
                                                            <label for="easy" style="color: #21B573;">Dễ</label><br>
                                                        </div>
                                                        <div class="col-3">
                                                            <input type="radio" id="medium" name="diffculty" value="Medium"<%=(Qs.difficulty=='Medium')?'checked':''%>>
                                                            <label for="medium" style="color: #FAAF3A;">Trung bình</label><br>
                                                        </div>
                                                        <div class="col-3">
                                                            <input type="radio" id="hard" name="diffculty" value="Hard" <%=(Qs.difficulty=='Hard')?'checked':''%>>
                                                            <label for="hard" style="color: #FF0000;">Khó</label><br>
                                                        </div>
                                                        
                                                    </div>
                                                    <div id="answers" style="margin-top: 16px;">
                                                        <div class="row">
                                                            <p class="col-5"></p>
                                                            <p class="col-6">Nội dung câu trả lời</p>
                                                            <p class="col-1">Đúng</p>
                                                        </div>
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text">Câu trả lời 1</span>
                                                            <input type="text" name="answer1" class="form-control" value="<%=Qs.answer[0].text%>">
                                                            <div class="input-group-text">
                                                                <input class="form-check-input mt-0" type="checkbox" name="isCorrect1" <%=(Qs.answer[0].isCorrect==true)?'checked':''%> >
                                                            </div>
                                                        </div>
                            
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text">Câu trả lời 2</span>
                                                            <input type="text" name="answer2" class="form-control" value="<%=Qs.answer[1].text%>">
                                                            <div class="input-group-text">
                                                                <input class="form-check-input mt-0" type="checkbox" name="isCorrect2" <%=(Qs.answer[1].isCorrect==true)?'checked':''%>>
                                                              </div>
                                                        </div>
                            
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text">Câu trả lời 3</span>
                                                            <input type="text" name="answer3" class="form-control" value="<%=Qs.answer[2].text%>">
                                                            <div class="input-group-text">
                                                                <input class="form-check-input mt-0" type="checkbox" name="isCorrect3" <%=(Qs.answer[2].isCorrect==true)?'checked':''%>>
                                                              </div>
                                                        </div>
                            
                                                        <div class="input-group mb-3">
                                                            <span class="input-group-text">Câu trả lời 4</span>
                                                            <input type="text" name="answer4" class="form-control" value="<%=Qs.answer[3].text%>">
                                                            <div class="input-group-text">
                                                                <input class="form-check-input mt-0" type="checkbox" name="isCorrect4" <%=(Qs.answer[3].isCorrect==true)?'checked':''%>>
                                                              </div>
                                                        </div>
                                                    </div>
                            
                                                </div>
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Thoát</button>
                                                <button type="submit" class="btn btn-primary">Hoàn tất</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </div>
                            <!-- End Modal edit question -->
                        <% } %>
                        
                        <!-- Repeat rows for other members -->
                       
                    </tbody>
                </table>
            </div>
            <!-- End slidebar left -->


        </div>

        <!-- Bootstrap JS -->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>
        <script>
            let currentAnswer = 2; // Hiện đang có 2 câu trả lời ban đầu

            // Lắng nghe sự kiện click vào nút "Thêm đáp án"
            document.getElementById('addAnswerBtn').addEventListener('click', function() {
                currentAnswer++; // Tăng số lượng đáp án hiện có

                if (currentAnswer === 3) {
                    document.getElementById('answer3').style.display = 'flex'; // Hiển thị câu trả lời 3
                } else if (currentAnswer === 4) {
                    document.getElementById('answer4').style.display = 'flex'; // Hiển thị câu trả lời 4
                    this.style.display = 'none'; // Ẩn nút "Thêm đáp án" sau khi đã thêm đáp án 4
                }
                 // Hiển thị nút "Xóa đáp án" nếu số lượng đáp án > 2
                if (currentAnswer > 2) {
                    document.getElementById('removeAnswerBtn').style.display = 'inline-block';
                }
            });

            document.getElementById('removeAnswerBtn').addEventListener('click', function() {
                if (currentAnswer === 4) {
                    document.getElementById('answer4').style.display = 'none'; // Ẩn câu trả lời 4
                    document.getElementById('addAnswerBtn').style.display = 'inline-block'; // Hiển thị lại nút "Thêm đáp án"
                } else if (currentAnswer === 3) {
                    document.getElementById('answer3').style.display = 'none'; // Ẩn câu trả lời 3
                }

                currentAnswer--; // Giảm số lượng đáp án hiện có

                // Ẩn nút "Xóa đáp án" nếu chỉ còn 2 đáp án
                if (currentAnswer === 2) {
                    this.style.display = 'none';
                }
            });
        </script>
</body>

</html>